{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue"></div>
	<div class="row banner menu">
		<h1>{{ asset_class.name }}</h1>
	</div>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	<div class="row divider blue"></div>
	
	{% if items !=[] %}	
		<div class="row">
			<h2>Financial Assets</h2>
				{% for i in items %}
					<div class="financial-asset">
						<h3>{{i.name}}</h3>
						<p>{{i.description}}</p>
						<p class="financial-asset-price">{{i.price}}</p>
					</div>
				{% endfor %}
		</div>
	{% endif %}
{% endblock %}
